#buttonbox>button {
    color: var(--col-text-button);
    height: 100%;
}

#projectlinks {
    width: 50%;
    height: 100%;
}




.linkcell {
    height: 120px;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* overflow-x: hidden; */
    text-overflow: clip;

    -webkit-border-radius: var(--border-radius-1);
    border-radius: var(--border-radius-1);
    white-space: nowrap;
    margin-top: var(--gap) / 2;
    margin-bottom: var(--gap);
}

.linkcell div {
    width: 100%;
    height: 100%;

}

.linkcell * {
    -webkit-border-radius: var(--border-radius-1);
    border-radius: var(--border-radius-1);
    overflow-x: hidden;
    text-overflow: clip;
    overflow-y: hidden;
}


#embedbox {
    height: 100%;
    width: 100%;
}

#embedframe {
    width: 100%;
    height: 100%;

    -webkit-border-radius: var(--border-radius-1);
    border-radius: var(--border-radius-1);
}

.flash-inner,
.flash-inner * {
    animation: flash_inner 250ms var(--easer);
}


.selected {
    outline: var(--outline-thickness) solid var(--col-selected);
}


#source {
    width: 100%;
    text-overflow: clip;
    overflow: hidden;
}
