#buttonbox>button {
    color: var(--col-text-button);
    height: 100%;
}

#linksgrid {
    align-items: center;
    width: 100%;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill, calc(max(200px, 25% - 10px)));
    gap: 10px;
    place-items: center;
    justify-content: center;
    grid-auto-rows: max-content;
}

.linkcell {
    height: 120px;
    width: 100%;
    /* min-width: ; */
    background-size: cover;
    background-position: center;
    /* overflow-x: hidden; */
    text-overflow: clip;
    -webkit-border-radius: var(--border-radius-1);
    border-radius: var(--border-radius-1);
    white-space: nowrap;
    align-items: center;
    /* margin-top: var(--gap) / 2;
    margin-bottom: var(--gap); */
    transition: 250ms var(--easer) height;
}

.linkcell div {
    /* -webkit-border-radius: var(--border-radius-1); */
    /* border-radius: var(--border-radius-1); */
    overflow-x: hidden;
    text-overflow: clip;
    overflow-y: hidden;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    font-size: small;
    text-align: center;
    align-items: center;
}

#more {
    outline-style: dashed;
}

.flash-inner,
.flash-inner * {
    animation: flash_inner 250ms var(--easer);
}