:root {
    --col-bloom: rgb(253, 228, 255);
    --col-text-1: #d6caf6;
    --col-text-button: #9391e7;
    --col-links: #feffe8;
    --col-base-border: #9566b5;
    --col-sub-border: #56326e;
    --col-background: #292533;
    --col-basewin: #221e2b;
    --col-shadow: #130618b0;
    --col-darker: #211a29;
    --col-darkest: #191422;
    --easer: cubic-bezier(0.19, 1, 0.22, 1);
    --border-radius-1: 5px;
    --border-radius-2: 10px;
    --border-radius-3: 20px;
    --dot-color: #453b53;
    --outline-thickness: 2px;
    --gap: 10px;

    --height-multiplier: 5;
    --width-multiplier: 6;
    --height-controller: calc(min(var(--height-multiplier) * 120px, 100%));
    --width-controller: calc(min(var(--width-multiplier) * 120px, 100%));
}

/*   To reference these: var(*)            */
/*   var(--col-background); var(--easer)   */

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}


body {
    background-color: var(--col-background);
    color: var(--col-text-1);
    font-family: Roboto;
}

div,
button,
img,
table,
iframe {
    -webkit-border-radius: var(--border-radius-2);
    border-radius: var(--border-radius-2);
}

iframe {
    border: none;
}

button {
    width: 100%;
    background: none;
    border: none;
    font-weight: bold;
    padding: 0px;
    transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1) all;
}

.hover-clickable:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

hr {
    height: 2px;
    background-color: var(--col-sub-border);
    border: none;
}

tr {
    border: var(--outline-thickness) solid var(--col-sub-border);
}

table {
    width: 100%;
    height: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    box-sizing: border
}
li {
    margin: 10px;
}

a:link {
    color: var(--col-links);
    font-weight: bolder;
    text-decoration: none;
}

a:visited {
    color: var(--col-links);
}


.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    gap: var(--gap);
}

.column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    flex-wrap: nowrap;

    gap: var(--gap);
}

.right {
    text-align: right;
    align-items: right;
}

.hover-exp {
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}

.hover-exp:hover {
    /* transform: scale(1.04); */
    outline: 0.4vmin solid var(--col-bloom);
}

.outlined {
    outline: var(--outline-thickness) solid var(--col-base-border)
}

.outlined-hovered {
    outline: 1px solid var(--col-base-border);
    transition: 500ms cubic-bezier(0.19, 1, 0.22, 1) all;
}

.outlined-hovered:hover {
    outline: 5px solid var(--col-base-border);
}

.boxed {
    box-shadow: 5px 5px var(--col-shadow);
}

.boxed-inset {
    box-shadow: inset 5px 5px var(--col-shadow);
}

.sharp-bl {
    border-bottom-left-radius: 0
}

.sharp-br {
    border-bottom-right-radius: 0;
}

.sharp-tl {
    border-top-left-radius: 0;
}

.sharp-tr {
    border-top-right-radius: 0;
}

.fullheight {
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.gapless {
    gap: 0;
}

.dot {
    width: 30%;
    outline: 0.1vmin solid var(--dot-color);
}

.tables {
    width: 100%;
    height: 100%;
    background-color: var(--col-darkest);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow-y: auto;
    transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
}

.nowrap {
    white-space: nowrap;
}

.clip-hidden {
    overflow: hidden;
}

#marginprovider {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

#container {
    width: 100%;
    height: 100%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}
#base {
    height: var(--height-controller);
    width: var(--width-controller);
    padding: var(--gap);


    box-sizing: border-box;
    overflow-y: auto;

    -webkit-border-radius: var(--border-radius-3);
    border-radius: var(--border-radius-3);

    animation:  flash_outline 250ms var(--easer) 0.1s both;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}

#picture {
    height: 100%;
}



#embedbox {
    width: 0%;
    height: var(--height-controller);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    text-overflow: clip;
}

#profile {
    height: 250px;
    background-image: url("../images/profile.png");
    background-size: cover;
    background-position: center;
    background-color: black;

    animation:
        4s var(--easer) 0s profileintro;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}


#infobox {
    width: 100%;
    height: 100%;
    padding-inline: var(--gap);
    align-items: center;
    align-self: center;
    justify-content: left;
    overflow-y: auto;
    overflow-wrap: normal;

    outline: var(--outline-thickness) solid white;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);

    /* background-color: black; */
    animation:
        0.5s var(--easer) 0.5s flash_outline,
        1.5s var(--easer) 0s infointro;
}

#tablebox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr;

    height: 100%;
    width: 100%;
    animation: linksreveal 0.4s var(--easer) 0.8s both, flash_outline 0.5s var(--easer) 0.8s both;
    background-color: var(--col-darker);
    align-items: center;
    align-self: center;
    justify-content: left;
}


.link-name {
    grid-column: 1;
}

.link-a {
    grid-column: 2;
}


.flash-inner,
.flash-inner * {
    animation: flash_inner 250ms var(--easer);
}

.bolder {
    font-weight: bolder;
}

#nowrap-wrapper {
    width: calc(max(100%, 500px));
    height: 50%;
}


#linksbox {
    overflow-x: hidden;
    overflow-y: auto;
}

#buttonbox button {
    color: var(--col-text-button);
    height: 100%;
}

.linkcell {
    height: 40%;
    width: calc(100% - (var(--gap) * 2));
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    overflow-x: hidden;
    text-overflow: clip;
    overflow-y: hidden;

    -webkit-border-radius: var(--border-radius-1);
    border-radius: var(--border-radius-1);

    white-space: nowrap;
    margin-left: calc(var(--gap));
    margin-top: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) / 2);
}

.linkcell:is(:nth-child(1)) {
    margin-top: var(--gap)
}

.linkcell:is(:nth-last-child(1)) {
    margin-bottom: var(--gap)
}

.linkcell * {
    -webkit-border-radius: var(--border-radius-1);
    border-radius: var(--border-radius-1);
    overflow-x: hidden;
    text-overflow: clip;
    overflow-y: hidden;
}

.collapsed {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.blacktext {
    color: black
}

.whitetext {
    color: white
}

#CIMUTILS {
    background-image: url("../images/ConsoleImageUtils.png");
}

#PXSORTER {
    background-image: url("../images/pixelsorter.png");
}

#TH264 {
    background-image: url("../images/TH264.png");
}

#resetLayoutButton {
    color: white;
    height: 100%;
    width: 64px;
    overflow: hidden;
}


#embedframe {
    opacity: 0;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    height: 100%;
}

#source {
    width: 100%;
    text-overflow: clip;
    overflow: hidden;
}

#gallerybox {
    height: 100%;
    width: 100%;
}



.blurred-background {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

}

@keyframes flash_outline {
    0% {
        outline: 0px solid var(--col-bloom)
    }

    20% {
        outline: 0.8vmin solid var(--col-bloom)
    }
}

@keyframes flash_inner {
    0% {
        color: white;
        background-color: white;
        box-shadow: inset 0px 0px var(--col-background);
        outline-color: white;
        border-color: white;
    }

    20% {
        color: white;
        background-color: white;
        outline-color: white;
        border-color: white;
    }
}

@keyframes profileintro {
    0% {
        background-color: var(--col-background);
        background-position: 0px 0px;
    }


}


@keyframes infointro {
    0% {

        -webkit-backdrop-filter: blur(100px);
        backdrop-filter: blur(100px);

        color: #00000000;
    }

    20% {
        color: #00000000;
    }

    60% {}


    80% {
        overflow-y: hidden
    }
}

@keyframes linksreveal {
    0% {
        opacity: 0%;
    }

    80% {
        box-shadow: inset 0px 0px 0vmin 0vmin var(--col-shadow);
    }
}